// LAPTOP
.wrapper-lighttheme.points-de-vente {
  padding-top: 0px;
}

.wrapper-lighttheme {
  padding-top: 20px;
  display: flex;
  position: relative;
  &:last-child {
    margin-bottom: 30px;
  }

  .wrapper-image-large.image-2 {
    width: 66%;
    min-height: 300px;
    margin-left: 40px;
    display: flex;
    position: relative;
  }

  .bottom-text-and-photo .wrapper-image-large {
    width: 100%;
    min-height: 300px;
    margin-left: 40px;
    display: flex;
    position: relative;
    flex: 1 0 auto;
  }

  .wrapper-image-small {
    width: 33%;
    height: 400px;
    margin-right: 40px;
    position: relative;
  }

  .top-texts {
    width: 66%;
    #live-text:first-child {
      text-align: right;
    }
  }

  .bottom-text-and-photo {
    width: 66%;
    display: flex;
    flex-direction: column;
    .bottom-text {
      width: 100%;
      margin-left: 40px;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .text-large {
    width: 66%;
  }

  .text-small {
    width: 33%;
  }

  #live-text, #live-text1, #live-text2, #live-text3, #live-text4, #live-text5, #live-text6 {
    h1 {
      font-size: 25px;
      margin: 11px 0px 20px 0px;
    }
    h2, h3 {
      font-weight: 400;
      font-size: 23px;
      margin: 19px 0px 0px 0px;
    }
    p {
    margin: 8px 10px 10px 10px;
    font-weight: $font-weight-p;
    font-size: 15px;
    }
    margin-bottom: 10px;
    padding: $padding-small;
  }
  .article_content {
    margin-top: 20px;
    #input1, #input2, #input3, #input4, #input5, #input6 {
      min-height: 330px;
    }
  }
}

// MOBILE
.wrapper-mobile-lightheme {
  position: relative;
  margin: 30px 10px 30px 10px;
  &:first-child {
    margin: 0px 10px 30px 10px;
  }
  background: $card-background;
  padding: $padding-small;
  border-radius: 1px;
  border: $card-border;
  h1 {
    text-align: center;
    font-size: $font-size-h4;
    margin: 11px 0px 30px 0px;
    color: #757575;
  }
  h2 {
    font-weight: 400;
    font-size: $font-size-h5;
    margin: 19px 0px 0px 0px;
    color: #757575;
  }
  p {
    margin: 8px 10px 10px 10px;
    font-weight: $font-weight-p;
    text-align: justify;
    color: #757575;
  }
  .mobile-image-info {
    width: 100%;
     img {
      width: 100%;
     }
  }
}

.mobile-info {
  margin-bottom: 20px;
}
