<div class="icone-bloc top-section-item laptop-item">
  <div class="social-buttons-contact">
    <a class="twitter-share-button" href="#"><i class="fab fa-twitter-square"></i></a>
    <a id="facebook-contact" href="#"><i class="fab fa-facebook center-social-link"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
</div>
