.collection-text {
  text-align: center;
  margin-bottom: 30px;
  h2 {
    font-size: $font-size-h4;
  }
  p {
    font-size: 15px;
  }
}

.collection-text-mobile {
  text-align: center;
  margin-bottom: 20px;
  h2 {
    font-size: $font-size-h4;
  }
  p {
    font-size: 15px;
  }
}
