.collection-h1 {
  h1 {
    font-size: 28px;
    margin: 20px 10px 0px 10px;
  }
  h2 {
    font-size: 23px;
    font-weight: 500;
    margin: 20px 10px 0px 10px;
  }
  hr {
    margin: 5px 0px 20px 0px;
    border-top: 1px solid #a0a0a0;
  }
}

.collections-container {
  padding: 0 20px;
  margin-bottom: 30px;
  a {
    width: 100%;
  }
}

.collection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  @media all and (max-width: 768px) {
    padding: 0 10px;
  }
}

.collection-image-container {
  height: 330px;
  @media all and (max-width: 768px) {
    height: 200px;
  }
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 40px;
  @media all and (max-width: 768px) {
   padding: 10px;
  }
  h2 {
    text-align: center;
    font-size: 20px;
    color: white;
    font-style: italic;
    margin: 0;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(40px);
    z-index: 2;
    @media all and (max-width: 768px) {
      opacity: 1;
      transform: translateY(0px);
      text-shadow: 1px 1px $primary;
    }
  }
  .collection-overlay {
    background: $primary;
    position: absolute; /* Sit on top of the page content */
    opacity: 0;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    transition: opacity 0.3s ease;
    @media all and (max-width: 768px) {
      opacity: 1;
      background: transparent;
    }
  }
}

.collection-image-container:hover .collection-overlay {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.collection-image-container:hover h2 {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.3s ease;
}
