.carousel {
  position: relative;
}

.glyphicon {
  top: calc(50% - 25px) !important;
  img {
    height: 50px;
  }
}

// HOMEPAGE CAROUSEL
.item1, .item2, .item3 {
  height: calc(100vh - 203px);
  background-size: cover;
}

.item-mobile1, .item-mobile2, .item-mobile3 {
  height: calc(100vh - 105px);
  background-size: cover;
}

// COLLECTION SHOW CAROUSEL
#carousel-collection-show {
  .item {
    height: 300px;
    .three-photos-container {
      display: flex;
      height: 100%;
    }
    .carousel-banner {
      height: 100%;
    }
  }
}

// COLLECTION SHOW CAROUSEL
#carousel-collection-show-mobile {
  .item {
    height: 300px;
    .carousel-banner {
      height: 100%;
      width: 100%;
    }
  }
}
